@model IEnumerable<WebsiteDatSan.Models.GioDat>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .het-san {
        background-color: #ffcccc;
    }
</style>

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Giờ bắt đầu</th>
        <th>Giờ kết thúc</th>
        <th>Trạng thái sân</th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GioBatDau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.GioKetThuc)
            </td>
            <td>
                @((item.TrangThai == true) ? "Còn" : "Hết")
            </td>
            <td>
                @if (item.TrangThai == true)
                {
                    <button type="button" onclick="location.href='@Url.Action("DatSan", new { id = item.MaGioDat })'">Đặt sân</button>
                }
                else
                {
                    <button type="button" disabled style="background-color: #ffcccc;">Đặt sân</button>
                }
            </td>
        </tr>
    }
</table>
@Html.ActionLink("Back to List", "ShowSanChuSan")
