
@{
    ViewBag.Title = "Index";
}
@model List<WebsiteDatSan.Models.AspNetUsers>


<h2>Danh sách người dùng ChuSan</h2>

<table>
    <tr>
        <th>Tên đăng nhập</th>
        <th>Email</th>
        <th>Địa chỉ</th>
        <th>Họ và tên đầy đủ</th>
    </tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Address</td>
            <td>@user.FullName</td>
            <td>
                @if (user.IsApproved == false)
                {
                    <button class="btn-approve" data-id="@user.Id" >Duyệt</button>
                }
                else
                {
                    <button class="btn-approve" data-id="@user.Id" disabled>Đã duyệt</button>
                }
            </td>

        </tr>
    }
</table>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

<script>
    $(document).ready(function () {
        $(".btn-approve").on("click", function () {
            alert("Bạn có đồng ý phê duyệt không !!");
            var button = $(this);
            var id = button.data("id");
            $.ajax({
                url: "/Admin/QLChuSan/Approve",
                type: "POST",
                data: { id: id },
                success: function () {
                    $("#status-" + id).text("Active");
                    button.attr("disabled", true);
                },
                error: function () {
                    alert("An error occurred while approving the user.");
                }
            });
        });
    });
</script>




