@model WebsiteDatSan.Models.HoaDon

@{
    ViewBag.Title = "Đặt Sân";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đặt Sân</h2>

@using (Html.BeginForm("DatSan", "DatSan", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Thông tin đặt sân</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <!-- Các trường thông tin đặt sân -->

        <div class="form-group">
            @Html.Label("UserName", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>@ViewBag.UserName</span>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.San.TenSan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>@ViewBag.San</span>
                @Html.ValidationMessageFor(model => model.San.TenSan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Thời gian", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span class="form-control">@ViewBag.GioBatDau - @ViewBag.GioKetThuc</span>
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TongTien, "Tổng tiền", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>@ViewBag.GiaTien</span>
                @Html.ValidationMessageFor(model => model.TongTien, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NgayDat, "Ngày đặt", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <span>@ViewBag.NgayDat</span>
                @Html.ValidationMessageFor(model => model.NgayDat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MahinhThuc, "Hình thức thanh toán", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.MahinhThuc, ViewBag.HinhThuc as SelectList, "-- Chọn hình thức thanh toán --", htmlAttributes: new { @class = "form-control", id = "MahinhThuc" })
                @Html.ValidationMessageFor(model => model.MahinhThuc, "", new { @class = "text-danger" })
            </div>
        </div>

        @Html.HiddenFor(model => model.MahinhThuc)
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Đặt" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Quay lại", "Index", "Home")
</div>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
@section Scripts {
    <script>
        $(document).ready(function() {
            $('#MahinhThuc').change(function() {
                var selectedOption = $(this).val();
                if (selectedOption === '2') {
                    var paymentUrl = '@Url.Action("Payment", "DatSan")';
                    $('form').attr('action', paymentUrl);
                } else {
                    $('form').removeAttr('action');
                }
            });
        });
    </script>*@
}
