@model WebsiteDatSan.Models.GioDat

@{
    ViewBag.Title = "DatSan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Đặt Sân</h2>

<p>
    <strong>Người đăng nhập:</strong> @((string)ViewBag.UserName)
</p>

<p>
    <strong>Giờ Đặt:</strong> @Model.GioBatDau - @Model.GioKetThuc
</p>

<p>
    <strong>Sân:</strong> @((string)ViewBag.San.TenSan)
</p>

<p>
    <strong>Địa chỉ:</strong> @((string)ViewBag.San.DiaChi)
</p>

<p>
    <strong>Ngày Đặt:</strong> @((DateTime)ViewBag.NgayDat)
</p>

<p>
    <strong>Giá Tiền:</strong> @ViewBag.GiaTien
</p>

<td>
    <button onclick="location.href='@Url.Action("Payment", "DatSan")'">Thanh Toán</button>

</td>

@Html.ActionLink("Back to List", "Index")
